.unimportant {
  display: none; }

.notes {
  display: none; }

@media (min-width: 200pt) {
  .notes {
    display: inline; } }
@media (min-width: 300pt) {
  .unimportant {
    display: inline; } }
a {
  text-decoration: none;
  color: #444444; }

ul.inline {
  list-style: none;
  padding: 0em 0em 0em 2em; }
  ul.inline li {
    display: inline; }
    ul.inline li:after {
      content: ","; }
    ul.inline li:last-child:after {
      content: ""; }

ul.reduce-padding {
  margin: 0em;
  padding: 0em 0em 0em 2em; }

ul.totally.inline {
  margin: 0em;
  padding: 0em; }

p {
  margin-bottom: 0em; }

strong {
  color: #48a2a8; }

html {
  background: #EEEEEE; }

body {
  color: #444444;
  max-width: 7.5in;
  min-height: 10in;
  padding: 0.5in 0.5in;
  background: #FFFFFF;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  margin: auto;
  position: static;
  font-family: Lato;
  font-weight: 300;
  position: relative; }

#header {
  position: relative;
  top: -0.8em;
  margin-bottom: 3em; }
  #header > * {
    margin: 0em; }
  #header h1 {
    font-size: 4em;
    font-family: Playball;
    width: 200%; }
  #header .contact {
    margin: 0em;
    padding: 0em; }
    #header .contact li {
      position: absolute;
      left: 0em;
      right: 0em;
      text-align: center;
      display: inline;
      max-width: 12em;
      margin: auto; }
      #header .contact li:first-child {
        right: auto;
        text-align: left;
        z-index: 1; }
      #header .contact li:last-child {
        left: auto;
        text-align: right;
        z-index: 1; }

h2 {
  position: relative;
  overflow: hidden;
  color: #0395da; }
  h2:after {
    content: " ";
    position: absolute;
    top: 0em;
    bottom: 0em;
    border-bottom: 2px solid #cccccc;
    height: 0px;
    width: 100%;
    display: inline-block;
    margin: auto 1em; }

@media print {
  h2:after {
    border-bottom-width: 1.5pt; } }
#about, #experience {
  font-size: 0.9em;
  display: inline-block;
  top: 10em; }
  #about h2, #experience h2 {
    margin-top: 1.5em; }
  #about > *:first-child h2, #experience > *:first-child h2 {
    margin-top: 0em; }

#experience a {
  text-decoration: underline;
  color: #0099a3; }

#about h2 {
  margin-bottom: 0.5em; }

#experience .dates {
  font-style: italic;
  margin: 0.4em 0em 0.5em 0em;
  font-size: 0.8em; }
#experience h2 {
  margin-bottom: 0em; }
#experience ul {
  margin-top: 0em; }

#skills ol {
  list-style: none;
  padding-left: 3em; }
  #skills ol > li {
    margin: 0.5em 0px;
    position: relative; }
    #skills ol > li:before {
      content: "B";
      color: black;
      font-weight: bold;
      text-align: center;
      width: 3em;
      height: 1.2em;
      line-height: 1.2em;
      position: absolute;
      left: -3em;
      top: 0em;
      bottom: 0em;
      margin: auto; }
    #skills ol > li:first-child:before {
      content: "A"; }
    #skills ol > li:last-child:before {
      content: "C"; }

@media screen and (min-width: 450pt) and (max-width: 611pt) {
  #header {
    width: 32em;
    margin-right: auto;
    margin-left: auto; }
    #header h1 {
      width: 200%;
      margin-left: -50%;
      text-align: center; }

  #header .contact {
    position: absolute;
    padding-left: 0.2em;
    width: 200%; }
    #header .contact li {
      position: static; }
      #header .contact li:after {
        margin-left: 0.2em; }
      #header .contact li:before {
        margin-right: 0.2em; }
      #header .contact li:first-child:after, #header .contact li:last-child:before {
        content: "\00B7";
        width: 4.5em;
        text-align: center;
        display: inline-block; } }
@media print, (min-width: 8.5in) {
  #header {
    margin-bottom: 0em; }

  #header ul.contact {
    top: 0em; }
    #header ul.contact {
      position: absolute;
      right: 0em;
      height: 100%;
      width: 100%;
      list-style: none;
      margin: 0em;
      padding: 0em; }
    #header ul.contact > li, #header ul.contact > li:first-child {
      right: 0em;
      left: auto;
      width: 100%;
      top: 0.25em;
      bottom: 0.75em;
      text-align: right;
      margin: auto;
      height: 1.2em;
      line-height: 1.2em; }
      #header ul.contact > li:first-child, #header ul.contact > li:first-child:first-child {
        bottom: auto; }
      #header ul.contact > li:last-child, #header ul.contact > li:first-child:last-child {
        top: auto; }
      #header ul.contact > li:before, #header ul.contact > li:after, #header ul.contact > li:first-child:before, #header ul.contact > li:first-child:after {
        display: none; }

  #about {
    left: 0.5in;
    width: 2.33333in; }
    #about h2 {
      margin-top: 2em; }

  #experience {
    right: 0.5in;
    width: 4.66667in;
    float: right; }
    #experience h2 {
      margin-top: 1em; } }
@media (max-width: 449pt) {
  body {
    padding: 0.49867in 0.49867in; }

  #header {
    font-size: 0.9978em; }

  #header .contact {
    font-size: 1.00133em; }

  h2 {
    font-size: 1.498em; } }
@media (max-width: 448pt) {
  body {
    padding: 0.49733in 0.49733in; }

  #header {
    font-size: 0.9956em; }

  #header .contact {
    font-size: 1.00267em; }

  h2 {
    font-size: 1.496em; } }
@media (max-width: 447pt) {
  body {
    padding: 0.496in 0.496in; }

  #header {
    font-size: 0.9934em; }

  #header .contact {
    font-size: 1.004em; }

  h2 {
    font-size: 1.494em; } }
@media (max-width: 446pt) {
  body {
    padding: 0.49467in 0.49467in; }

  #header {
    font-size: 0.9912em; }

  #header .contact {
    font-size: 1.00533em; }

  h2 {
    font-size: 1.492em; } }
@media (max-width: 445pt) {
  body {
    padding: 0.49333in 0.49333in; }

  #header {
    font-size: 0.989em; }

  #header .contact {
    font-size: 1.00667em; }

  h2 {
    font-size: 1.49em; } }
@media (max-width: 444pt) {
  body {
    padding: 0.492in 0.492in; }

  #header {
    font-size: 0.9868em; }

  #header .contact {
    font-size: 1.008em; }

  h2 {
    font-size: 1.488em; } }
@media (max-width: 443pt) {
  body {
    padding: 0.49067in 0.49067in; }

  #header {
    font-size: 0.9846em; }

  #header .contact {
    font-size: 1.00933em; }

  h2 {
    font-size: 1.486em; } }
@media (max-width: 442pt) {
  body {
    padding: 0.48933in 0.48933in; }

  #header {
    font-size: 0.9824em; }

  #header .contact {
    font-size: 1.01067em; }

  h2 {
    font-size: 1.484em; } }
@media (max-width: 441pt) {
  body {
    padding: 0.488in 0.488in; }

  #header {
    font-size: 0.9802em; }

  #header .contact {
    font-size: 1.012em; }

  h2 {
    font-size: 1.482em; } }
@media (max-width: 440pt) {
  body {
    padding: 0.48667in 0.48667in; }

  #header {
    font-size: 0.978em; }

  #header .contact {
    font-size: 1.01333em; }

  h2 {
    font-size: 1.48em; } }
@media (max-width: 439pt) {
  body {
    padding: 0.48533in 0.48533in; }

  #header {
    font-size: 0.9758em; }

  #header .contact {
    font-size: 1.01467em; }

  h2 {
    font-size: 1.478em; } }
@media (max-width: 438pt) {
  body {
    padding: 0.484in 0.484in; }

  #header {
    font-size: 0.9736em; }

  #header .contact {
    font-size: 1.016em; }

  h2 {
    font-size: 1.476em; } }
@media (max-width: 437pt) {
  body {
    padding: 0.48267in 0.48267in; }

  #header {
    font-size: 0.9714em; }

  #header .contact {
    font-size: 1.01733em; }

  h2 {
    font-size: 1.474em; } }
@media (max-width: 436pt) {
  body {
    padding: 0.48133in 0.48133in; }

  #header {
    font-size: 0.9692em; }

  #header .contact {
    font-size: 1.01867em; }

  h2 {
    font-size: 1.472em; } }
@media (max-width: 435pt) {
  body {
    padding: 0.48in 0.48in; }

  #header {
    font-size: 0.967em; }

  #header .contact {
    font-size: 1.02em; }

  h2 {
    font-size: 1.47em; } }
@media (max-width: 434pt) {
  body {
    padding: 0.47867in 0.47867in; }

  #header {
    font-size: 0.9648em; }

  #header .contact {
    font-size: 1.02133em; }

  h2 {
    font-size: 1.468em; } }
@media (max-width: 433pt) {
  body {
    padding: 0.47733in 0.47733in; }

  #header {
    font-size: 0.9626em; }

  #header .contact {
    font-size: 1.02267em; }

  h2 {
    font-size: 1.466em; } }
@media (max-width: 432pt) {
  body {
    padding: 0.476in 0.476in; }

  #header {
    font-size: 0.9604em; }

  #header .contact {
    font-size: 1.024em; }

  h2 {
    font-size: 1.464em; } }
@media (max-width: 431pt) {
  body {
    padding: 0.47467in 0.47467in; }

  #header {
    font-size: 0.9582em; }

  #header .contact {
    font-size: 1.02533em; }

  h2 {
    font-size: 1.462em; } }
@media (max-width: 430pt) {
  body {
    padding: 0.47333in 0.47333in; }

  #header {
    font-size: 0.956em; }

  #header .contact {
    font-size: 1.02667em; }

  h2 {
    font-size: 1.46em; } }
@media (max-width: 429pt) {
  body {
    padding: 0.472in 0.472in; }

  #header {
    font-size: 0.9538em; }

  #header .contact {
    font-size: 1.028em; }

  h2 {
    font-size: 1.458em; } }
@media (max-width: 428pt) {
  body {
    padding: 0.47067in 0.47067in; }

  #header {
    font-size: 0.9516em; }

  #header .contact {
    font-size: 1.02933em; }

  h2 {
    font-size: 1.456em; } }
@media (max-width: 427pt) {
  body {
    padding: 0.46933in 0.46933in; }

  #header {
    font-size: 0.9494em; }

  #header .contact {
    font-size: 1.03067em; }

  h2 {
    font-size: 1.454em; } }
@media (max-width: 426pt) {
  body {
    padding: 0.468in 0.468in; }

  #header {
    font-size: 0.9472em; }

  #header .contact {
    font-size: 1.032em; }

  h2 {
    font-size: 1.452em; } }
@media (max-width: 425pt) {
  body {
    padding: 0.46667in 0.46667in; }

  #header {
    font-size: 0.945em; }

  #header .contact {
    font-size: 1.03333em; }

  h2 {
    font-size: 1.45em; } }
@media (max-width: 424pt) {
  body {
    padding: 0.46533in 0.46533in; }

  #header {
    font-size: 0.9428em; }

  #header .contact {
    font-size: 1.03467em; }

  h2 {
    font-size: 1.448em; } }
@media (max-width: 423pt) {
  body {
    padding: 0.464in 0.464in; }

  #header {
    font-size: 0.9406em; }

  #header .contact {
    font-size: 1.036em; }

  h2 {
    font-size: 1.446em; } }
@media (max-width: 422pt) {
  body {
    padding: 0.46267in 0.46267in; }

  #header {
    font-size: 0.9384em; }

  #header .contact {
    font-size: 1.03733em; }

  h2 {
    font-size: 1.444em; } }
@media (max-width: 421pt) {
  body {
    padding: 0.46133in 0.46133in; }

  #header {
    font-size: 0.9362em; }

  #header .contact {
    font-size: 1.03867em; }

  h2 {
    font-size: 1.442em; } }
@media (max-width: 420pt) {
  body {
    padding: 0.46in 0.46in; }

  #header {
    font-size: 0.934em; }

  #header .contact {
    font-size: 1.04em; }

  h2 {
    font-size: 1.44em; } }
@media (max-width: 419pt) {
  body {
    padding: 0.45867in 0.45867in; }

  #header {
    font-size: 0.9318em; }

  #header .contact {
    font-size: 1.04133em; }

  h2 {
    font-size: 1.438em; } }
@media (max-width: 418pt) {
  body {
    padding: 0.45733in 0.45733in; }

  #header {
    font-size: 0.9296em; }

  #header .contact {
    font-size: 1.04267em; }

  h2 {
    font-size: 1.436em; } }
@media (max-width: 417pt) {
  body {
    padding: 0.456in 0.456in; }

  #header {
    font-size: 0.9274em; }

  #header .contact {
    font-size: 1.044em; }

  h2 {
    font-size: 1.434em; } }
@media (max-width: 416pt) {
  body {
    padding: 0.45467in 0.45467in; }

  #header {
    font-size: 0.9252em; }

  #header .contact {
    font-size: 1.04533em; }

  h2 {
    font-size: 1.432em; } }
@media (max-width: 415pt) {
  body {
    padding: 0.45333in 0.45333in; }

  #header {
    font-size: 0.923em; }

  #header .contact {
    font-size: 1.04667em; }

  h2 {
    font-size: 1.43em; } }
@media (max-width: 414pt) {
  body {
    padding: 0.452in 0.452in; }

  #header {
    font-size: 0.9208em; }

  #header .contact {
    font-size: 1.048em; }

  h2 {
    font-size: 1.428em; } }
@media (max-width: 413pt) {
  body {
    padding: 0.45067in 0.45067in; }

  #header {
    font-size: 0.9186em; }

  #header .contact {
    font-size: 1.04933em; }

  h2 {
    font-size: 1.426em; } }
@media (max-width: 412pt) {
  body {
    padding: 0.44933in 0.44933in; }

  #header {
    font-size: 0.9164em; }

  #header .contact {
    font-size: 1.05067em; }

  h2 {
    font-size: 1.424em; } }
@media (max-width: 411pt) {
  body {
    padding: 0.448in 0.448in; }

  #header {
    font-size: 0.9142em; }

  #header .contact {
    font-size: 1.052em; }

  h2 {
    font-size: 1.422em; } }
@media (max-width: 410pt) {
  body {
    padding: 0.44667in 0.44667in; }

  #header {
    font-size: 0.912em; }

  #header .contact {
    font-size: 1.05333em; }

  h2 {
    font-size: 1.42em; } }
@media (max-width: 409pt) {
  body {
    padding: 0.44533in 0.44533in; }

  #header {
    font-size: 0.9098em; }

  #header .contact {
    font-size: 1.05467em; }

  h2 {
    font-size: 1.418em; } }
@media (max-width: 408pt) {
  body {
    padding: 0.444in 0.444in; }

  #header {
    font-size: 0.9076em; }

  #header .contact {
    font-size: 1.056em; }

  h2 {
    font-size: 1.416em; } }
@media (max-width: 407pt) {
  body {
    padding: 0.44267in 0.44267in; }

  #header {
    font-size: 0.9054em; }

  #header .contact {
    font-size: 1.05733em; }

  h2 {
    font-size: 1.414em; } }
@media (max-width: 406pt) {
  body {
    padding: 0.44133in 0.44133in; }

  #header {
    font-size: 0.9032em; }

  #header .contact {
    font-size: 1.05867em; }

  h2 {
    font-size: 1.412em; } }
@media (max-width: 405pt) {
  body {
    padding: 0.44in 0.44in; }

  #header {
    font-size: 0.901em; }

  #header .contact {
    font-size: 1.06em; }

  h2 {
    font-size: 1.41em; } }
@media (max-width: 404pt) {
  body {
    padding: 0.43867in 0.43867in; }

  #header {
    font-size: 0.8988em; }

  #header .contact {
    font-size: 1.06133em; }

  h2 {
    font-size: 1.408em; } }
@media (max-width: 403pt) {
  body {
    padding: 0.43733in 0.43733in; }

  #header {
    font-size: 0.8966em; }

  #header .contact {
    font-size: 1.06267em; }

  h2 {
    font-size: 1.406em; } }
@media (max-width: 402pt) {
  body {
    padding: 0.436in 0.436in; }

  #header {
    font-size: 0.8944em; }

  #header .contact {
    font-size: 1.064em; }

  h2 {
    font-size: 1.404em; } }
@media (max-width: 401pt) {
  body {
    padding: 0.43467in 0.43467in; }

  #header {
    font-size: 0.8922em; }

  #header .contact {
    font-size: 1.06533em; }

  h2 {
    font-size: 1.402em; } }
@media (max-width: 400pt) {
  body {
    padding: 0.43333in 0.43333in; }

  #header {
    font-size: 0.89em; }

  #header .contact {
    font-size: 1.06667em; }

  h2 {
    font-size: 1.4em; } }
@media (max-width: 399pt) {
  body {
    padding: 0.432in 0.432in; }

  #header {
    font-size: 0.8878em; }

  #header .contact {
    font-size: 1.068em; }

  h2 {
    font-size: 1.398em; } }
@media (max-width: 398pt) {
  body {
    padding: 0.43067in 0.43067in; }

  #header {
    font-size: 0.8856em; }

  #header .contact {
    font-size: 1.06933em; }

  h2 {
    font-size: 1.396em; } }
@media (max-width: 397pt) {
  body {
    padding: 0.42933in 0.42933in; }

  #header {
    font-size: 0.8834em; }

  #header .contact {
    font-size: 1.07067em; }

  h2 {
    font-size: 1.394em; } }
@media (max-width: 396pt) {
  body {
    padding: 0.428in 0.428in; }

  #header {
    font-size: 0.8812em; }

  #header .contact {
    font-size: 1.072em; }

  h2 {
    font-size: 1.392em; } }
@media (max-width: 395pt) {
  body {
    padding: 0.42667in 0.42667in; }

  #header {
    font-size: 0.879em; }

  #header .contact {
    font-size: 1.07333em; }

  h2 {
    font-size: 1.39em; } }
@media (max-width: 394pt) {
  body {
    padding: 0.42533in 0.42533in; }

  #header {
    font-size: 0.8768em; }

  #header .contact {
    font-size: 1.07467em; }

  h2 {
    font-size: 1.388em; } }
@media (max-width: 393pt) {
  body {
    padding: 0.424in 0.424in; }

  #header {
    font-size: 0.8746em; }

  #header .contact {
    font-size: 1.076em; }

  h2 {
    font-size: 1.386em; } }
@media (max-width: 392pt) {
  body {
    padding: 0.42267in 0.42267in; }

  #header {
    font-size: 0.8724em; }

  #header .contact {
    font-size: 1.07733em; }

  h2 {
    font-size: 1.384em; } }
@media (max-width: 391pt) {
  body {
    padding: 0.42133in 0.42133in; }

  #header {
    font-size: 0.8702em; }

  #header .contact {
    font-size: 1.07867em; }

  h2 {
    font-size: 1.382em; } }
@media (max-width: 390pt) {
  body {
    padding: 0.42in 0.42in; }

  #header {
    font-size: 0.868em; }

  #header .contact {
    font-size: 1.08em; }

  h2 {
    font-size: 1.38em; } }
@media (max-width: 389pt) {
  body {
    padding: 0.41867in 0.41867in; }

  #header {
    font-size: 0.8658em; }

  #header .contact {
    font-size: 1.08133em; }

  h2 {
    font-size: 1.378em; } }
@media (max-width: 388pt) {
  body {
    padding: 0.41733in 0.41733in; }

  #header {
    font-size: 0.8636em; }

  #header .contact {
    font-size: 1.08267em; }

  h2 {
    font-size: 1.376em; } }
@media (max-width: 387pt) {
  body {
    padding: 0.416in 0.416in; }

  #header {
    font-size: 0.8614em; }

  #header .contact {
    font-size: 1.084em; }

  h2 {
    font-size: 1.374em; } }
@media (max-width: 386pt) {
  body {
    padding: 0.41467in 0.41467in; }

  #header {
    font-size: 0.8592em; }

  #header .contact {
    font-size: 1.08533em; }

  h2 {
    font-size: 1.372em; } }
@media (max-width: 385pt) {
  body {
    padding: 0.41333in 0.41333in; }

  #header {
    font-size: 0.857em; }

  #header .contact {
    font-size: 1.08667em; }

  h2 {
    font-size: 1.37em; } }
@media (max-width: 384pt) {
  body {
    padding: 0.412in 0.412in; }

  #header {
    font-size: 0.8548em; }

  #header .contact {
    font-size: 1.088em; }

  h2 {
    font-size: 1.368em; } }
@media (max-width: 383pt) {
  body {
    padding: 0.41067in 0.41067in; }

  #header {
    font-size: 0.8526em; }

  #header .contact {
    font-size: 1.08933em; }

  h2 {
    font-size: 1.366em; } }
@media (max-width: 382pt) {
  body {
    padding: 0.40933in 0.40933in; }

  #header {
    font-size: 0.8504em; }

  #header .contact {
    font-size: 1.09067em; }

  h2 {
    font-size: 1.364em; } }
@media (max-width: 381pt) {
  body {
    padding: 0.408in 0.408in; }

  #header {
    font-size: 0.8482em; }

  #header .contact {
    font-size: 1.092em; }

  h2 {
    font-size: 1.362em; } }
@media (max-width: 380pt) {
  body {
    padding: 0.40667in 0.40667in; }

  #header {
    font-size: 0.846em; }

  #header .contact {
    font-size: 1.09333em; }

  h2 {
    font-size: 1.36em; } }
@media (max-width: 379pt) {
  body {
    padding: 0.40533in 0.40533in; }

  #header {
    font-size: 0.8438em; }

  #header .contact {
    font-size: 1.09467em; }

  h2 {
    font-size: 1.358em; } }
@media (max-width: 378pt) {
  body {
    padding: 0.404in 0.404in; }

  #header {
    font-size: 0.8416em; }

  #header .contact {
    font-size: 1.096em; }

  h2 {
    font-size: 1.356em; } }
@media (max-width: 377pt) {
  body {
    padding: 0.40267in 0.40267in; }

  #header {
    font-size: 0.8394em; }

  #header .contact {
    font-size: 1.09733em; }

  h2 {
    font-size: 1.354em; } }
@media (max-width: 376pt) {
  body {
    padding: 0.40133in 0.40133in; }

  #header {
    font-size: 0.8372em; }

  #header .contact {
    font-size: 1.09867em; }

  h2 {
    font-size: 1.352em; } }
@media (max-width: 375pt) {
  body {
    padding: 0.4in 0.4in; }

  #header {
    font-size: 0.835em; }

  #header .contact {
    font-size: 1.1em; }

  h2 {
    font-size: 1.35em; } }
@media (max-width: 374pt) {
  body {
    padding: 0.39867in 0.39867in; }

  #header {
    font-size: 0.8328em; }

  #header .contact {
    font-size: 1.10133em; }

  h2 {
    font-size: 1.348em; } }
@media (max-width: 373pt) {
  body {
    padding: 0.39733in 0.39733in; }

  #header {
    font-size: 0.8306em; }

  #header .contact {
    font-size: 1.10267em; }

  h2 {
    font-size: 1.346em; } }
@media (max-width: 372pt) {
  body {
    padding: 0.396in 0.396in; }

  #header {
    font-size: 0.8284em; }

  #header .contact {
    font-size: 1.104em; }

  h2 {
    font-size: 1.344em; } }
@media (max-width: 371pt) {
  body {
    padding: 0.39467in 0.39467in; }

  #header {
    font-size: 0.8262em; }

  #header .contact {
    font-size: 1.10533em; }

  h2 {
    font-size: 1.342em; } }
@media (max-width: 370pt) {
  body {
    padding: 0.39333in 0.39333in; }

  #header {
    font-size: 0.824em; }

  #header .contact {
    font-size: 1.10667em; }

  h2 {
    font-size: 1.34em; } }
@media (max-width: 369pt) {
  body {
    padding: 0.392in 0.392in; }

  #header {
    font-size: 0.8218em; }

  #header .contact {
    font-size: 1.108em; }

  h2 {
    font-size: 1.338em; } }
@media (max-width: 368pt) {
  body {
    padding: 0.39067in 0.39067in; }

  #header {
    font-size: 0.8196em; }

  #header .contact {
    font-size: 1.10933em; }

  h2 {
    font-size: 1.336em; } }
@media (max-width: 367pt) {
  body {
    padding: 0.38933in 0.38933in; }

  #header {
    font-size: 0.8174em; }

  #header .contact {
    font-size: 1.11067em; }

  h2 {
    font-size: 1.334em; } }
@media (max-width: 366pt) {
  body {
    padding: 0.388in 0.388in; }

  #header {
    font-size: 0.8152em; }

  #header .contact {
    font-size: 1.112em; }

  h2 {
    font-size: 1.332em; } }
@media (max-width: 365pt) {
  body {
    padding: 0.38667in 0.38667in; }

  #header {
    font-size: 0.813em; }

  #header .contact {
    font-size: 1.11333em; }

  h2 {
    font-size: 1.33em; } }
@media (max-width: 364pt) {
  body {
    padding: 0.38533in 0.38533in; }

  #header {
    font-size: 0.8108em; }

  #header .contact {
    font-size: 1.11467em; }

  h2 {
    font-size: 1.328em; } }
@media (max-width: 363pt) {
  body {
    padding: 0.384in 0.384in; }

  #header {
    font-size: 0.8086em; }

  #header .contact {
    font-size: 1.116em; }

  h2 {
    font-size: 1.326em; } }
@media (max-width: 362pt) {
  body {
    padding: 0.38267in 0.38267in; }

  #header {
    font-size: 0.8064em; }

  #header .contact {
    font-size: 1.11733em; }

  h2 {
    font-size: 1.324em; } }
@media (max-width: 361pt) {
  body {
    padding: 0.38133in 0.38133in; }

  #header {
    font-size: 0.8042em; }

  #header .contact {
    font-size: 1.11867em; }

  h2 {
    font-size: 1.322em; } }
@media (max-width: 360pt) {
  body {
    padding: 0.38in 0.38in; }

  #header {
    font-size: 0.802em; }

  #header .contact {
    font-size: 1.12em; }

  h2 {
    font-size: 1.32em; } }
@media (max-width: 359pt) {
  body {
    padding: 0.37867in 0.37867in; }

  #header {
    font-size: 0.7998em; }

  #header .contact {
    font-size: 1.12133em; }

  h2 {
    font-size: 1.318em; } }
@media (max-width: 358pt) {
  body {
    padding: 0.37733in 0.37733in; }

  #header {
    font-size: 0.7976em; }

  #header .contact {
    font-size: 1.12267em; }

  h2 {
    font-size: 1.316em; } }
@media (max-width: 357pt) {
  body {
    padding: 0.376in 0.376in; }

  #header {
    font-size: 0.7954em; }

  #header .contact {
    font-size: 1.124em; }

  h2 {
    font-size: 1.314em; } }
@media (max-width: 356pt) {
  body {
    padding: 0.37467in 0.37467in; }

  #header {
    font-size: 0.7932em; }

  #header .contact {
    font-size: 1.12533em; }

  h2 {
    font-size: 1.312em; } }
@media (max-width: 355pt) {
  body {
    padding: 0.37333in 0.37333in; }

  #header {
    font-size: 0.791em; }

  #header .contact {
    font-size: 1.12667em; }

  h2 {
    font-size: 1.31em; } }
@media (max-width: 354pt) {
  body {
    padding: 0.372in 0.372in; }

  #header {
    font-size: 0.7888em; }

  #header .contact {
    font-size: 1.128em; }

  h2 {
    font-size: 1.308em; } }
@media (max-width: 353pt) {
  body {
    padding: 0.37067in 0.37067in; }

  #header {
    font-size: 0.7866em; }

  #header .contact {
    font-size: 1.12933em; }

  h2 {
    font-size: 1.306em; } }
@media (max-width: 352pt) {
  body {
    padding: 0.36933in 0.36933in; }

  #header {
    font-size: 0.7844em; }

  #header .contact {
    font-size: 1.13067em; }

  h2 {
    font-size: 1.304em; } }
@media (max-width: 351pt) {
  body {
    padding: 0.368in 0.368in; }

  #header {
    font-size: 0.7822em; }

  #header .contact {
    font-size: 1.132em; }

  h2 {
    font-size: 1.302em; } }
@media (max-width: 350pt) {
  body {
    padding: 0.36667in 0.36667in; }

  #header {
    font-size: 0.78em; }

  #header .contact {
    font-size: 1.13333em; }

  h2 {
    font-size: 1.3em; } }
@media (max-width: 349pt) {
  body {
    padding: 0.36533in 0.36533in; }

  #header {
    font-size: 0.7778em; }

  #header .contact {
    font-size: 1.13467em; }

  h2 {
    font-size: 1.298em; } }
@media (max-width: 348pt) {
  body {
    padding: 0.364in 0.364in; }

  #header {
    font-size: 0.7756em; }

  #header .contact {
    font-size: 1.136em; }

  h2 {
    font-size: 1.296em; } }
@media (max-width: 347pt) {
  body {
    padding: 0.36267in 0.36267in; }

  #header {
    font-size: 0.7734em; }

  #header .contact {
    font-size: 1.13733em; }

  h2 {
    font-size: 1.294em; } }
@media (max-width: 346pt) {
  body {
    padding: 0.36133in 0.36133in; }

  #header {
    font-size: 0.7712em; }

  #header .contact {
    font-size: 1.13867em; }

  h2 {
    font-size: 1.292em; } }
@media (max-width: 345pt) {
  body {
    padding: 0.36in 0.36in; }

  #header {
    font-size: 0.769em; }

  #header .contact {
    font-size: 1.14em; }

  h2 {
    font-size: 1.29em; } }
@media (max-width: 344pt) {
  body {
    padding: 0.35867in 0.35867in; }

  #header {
    font-size: 0.7668em; }

  #header .contact {
    font-size: 1.14133em; }

  h2 {
    font-size: 1.288em; } }
@media (max-width: 343pt) {
  body {
    padding: 0.35733in 0.35733in; }

  #header {
    font-size: 0.7646em; }

  #header .contact {
    font-size: 1.14267em; }

  h2 {
    font-size: 1.286em; } }
@media (max-width: 342pt) {
  body {
    padding: 0.356in 0.356in; }

  #header {
    font-size: 0.7624em; }

  #header .contact {
    font-size: 1.144em; }

  h2 {
    font-size: 1.284em; } }
@media (max-width: 341pt) {
  body {
    padding: 0.35467in 0.35467in; }

  #header {
    font-size: 0.7602em; }

  #header .contact {
    font-size: 1.14533em; }

  h2 {
    font-size: 1.282em; } }
@media (max-width: 340pt) {
  body {
    padding: 0.35333in 0.35333in; }

  #header {
    font-size: 0.758em; }

  #header .contact {
    font-size: 1.14667em; }

  h2 {
    font-size: 1.28em; } }
@media (max-width: 339pt) {
  body {
    padding: 0.352in 0.352in; }

  #header {
    font-size: 0.7558em; }

  #header .contact {
    font-size: 1.148em; }

  h2 {
    font-size: 1.278em; } }
@media (max-width: 338pt) {
  body {
    padding: 0.35067in 0.35067in; }

  #header {
    font-size: 0.7536em; }

  #header .contact {
    font-size: 1.14933em; }

  h2 {
    font-size: 1.276em; } }
@media (max-width: 337pt) {
  body {
    padding: 0.34933in 0.34933in; }

  #header {
    font-size: 0.7514em; }

  #header .contact {
    font-size: 1.15067em; }

  h2 {
    font-size: 1.274em; } }
@media (max-width: 336pt) {
  body {
    padding: 0.348in 0.348in; }

  #header {
    font-size: 0.7492em; }

  #header .contact {
    font-size: 1.152em; }

  h2 {
    font-size: 1.272em; } }
@media (max-width: 335pt) {
  body {
    padding: 0.34667in 0.34667in; }

  #header {
    font-size: 0.747em; }

  #header .contact {
    font-size: 1.15333em; }

  h2 {
    font-size: 1.27em; } }
@media (max-width: 334pt) {
  body {
    padding: 0.34533in 0.34533in; }

  #header {
    font-size: 0.7448em; }

  #header .contact {
    font-size: 1.15467em; }

  h2 {
    font-size: 1.268em; } }
@media (max-width: 333pt) {
  body {
    padding: 0.344in 0.344in; }

  #header {
    font-size: 0.7426em; }

  #header .contact {
    font-size: 1.156em; }

  h2 {
    font-size: 1.266em; } }
@media (max-width: 332pt) {
  body {
    padding: 0.34267in 0.34267in; }

  #header {
    font-size: 0.7404em; }

  #header .contact {
    font-size: 1.15733em; }

  h2 {
    font-size: 1.264em; } }
@media (max-width: 331pt) {
  body {
    padding: 0.34133in 0.34133in; }

  #header {
    font-size: 0.7382em; }

  #header .contact {
    font-size: 1.15867em; }

  h2 {
    font-size: 1.262em; } }
@media (max-width: 330pt) {
  body {
    padding: 0.34in 0.34in; }

  #header {
    font-size: 0.736em; }

  #header .contact {
    font-size: 1.16em; }

  h2 {
    font-size: 1.26em; } }
@media (max-width: 329pt) {
  body {
    padding: 0.33867in 0.33867in; }

  #header {
    font-size: 0.7338em; }

  #header .contact {
    font-size: 1.16133em; }

  h2 {
    font-size: 1.258em; } }
@media (max-width: 328pt) {
  body {
    padding: 0.33733in 0.33733in; }

  #header {
    font-size: 0.7316em; }

  #header .contact {
    font-size: 1.16267em; }

  h2 {
    font-size: 1.256em; } }
@media (max-width: 327pt) {
  body {
    padding: 0.336in 0.336in; }

  #header {
    font-size: 0.7294em; }

  #header .contact {
    font-size: 1.164em; }

  h2 {
    font-size: 1.254em; } }
@media (max-width: 326pt) {
  body {
    padding: 0.33467in 0.33467in; }

  #header {
    font-size: 0.7272em; }

  #header .contact {
    font-size: 1.16533em; }

  h2 {
    font-size: 1.252em; } }
@media (max-width: 325pt) {
  body {
    padding: 0.33333in 0.33333in; }

  #header {
    font-size: 0.725em; }

  #header .contact {
    font-size: 1.16667em; }

  h2 {
    font-size: 1.25em; } }
@media (max-width: 324pt) {
  body {
    padding: 0.332in 0.332in; }

  #header {
    font-size: 0.7228em; }

  #header .contact {
    font-size: 1.168em; }

  h2 {
    font-size: 1.248em; } }
@media (max-width: 323pt) {
  body {
    padding: 0.33067in 0.33067in; }

  #header {
    font-size: 0.7206em; }

  #header .contact {
    font-size: 1.16933em; }

  h2 {
    font-size: 1.246em; } }
@media (max-width: 322pt) {
  body {
    padding: 0.32933in 0.32933in; }

  #header {
    font-size: 0.7184em; }

  #header .contact {
    font-size: 1.17067em; }

  h2 {
    font-size: 1.244em; } }
@media (max-width: 321pt) {
  body {
    padding: 0.328in 0.328in; }

  #header {
    font-size: 0.7162em; }

  #header .contact {
    font-size: 1.172em; }

  h2 {
    font-size: 1.242em; } }
@media (max-width: 320pt) {
  body {
    padding: 0.32667in 0.32667in; }

  #header {
    font-size: 0.714em; }

  #header .contact {
    font-size: 1.17333em; }

  h2 {
    font-size: 1.24em; } }
@media (max-width: 319pt) {
  body {
    padding: 0.32533in 0.32533in; }

  #header {
    font-size: 0.7118em; }

  #header .contact {
    font-size: 1.17467em; }

  h2 {
    font-size: 1.238em; } }
@media (max-width: 318pt) {
  body {
    padding: 0.324in 0.324in; }

  #header {
    font-size: 0.7096em; }

  #header .contact {
    font-size: 1.176em; }

  h2 {
    font-size: 1.236em; } }
@media (max-width: 317pt) {
  body {
    padding: 0.32267in 0.32267in; }

  #header {
    font-size: 0.7074em; }

  #header .contact {
    font-size: 1.17733em; }

  h2 {
    font-size: 1.234em; } }
@media (max-width: 316pt) {
  body {
    padding: 0.32133in 0.32133in; }

  #header {
    font-size: 0.7052em; }

  #header .contact {
    font-size: 1.17867em; }

  h2 {
    font-size: 1.232em; } }
@media (max-width: 315pt) {
  body {
    padding: 0.32in 0.32in; }

  #header {
    font-size: 0.703em; }

  #header .contact {
    font-size: 1.18em; }

  h2 {
    font-size: 1.23em; } }
@media (max-width: 314pt) {
  body {
    padding: 0.31867in 0.31867in; }

  #header {
    font-size: 0.7008em; }

  #header .contact {
    font-size: 1.18133em; }

  h2 {
    font-size: 1.228em; } }
@media (max-width: 313pt) {
  body {
    padding: 0.31733in 0.31733in; }

  #header {
    font-size: 0.6986em; }

  #header .contact {
    font-size: 1.18267em; }

  h2 {
    font-size: 1.226em; } }
@media (max-width: 312pt) {
  body {
    padding: 0.316in 0.316in; }

  #header {
    font-size: 0.6964em; }

  #header .contact {
    font-size: 1.184em; }

  h2 {
    font-size: 1.224em; } }
@media (max-width: 311pt) {
  body {
    padding: 0.31467in 0.31467in; }

  #header {
    font-size: 0.6942em; }

  #header .contact {
    font-size: 1.18533em; }

  h2 {
    font-size: 1.222em; } }
@media (max-width: 310pt) {
  body {
    padding: 0.31333in 0.31333in; }

  #header {
    font-size: 0.692em; }

  #header .contact {
    font-size: 1.18667em; }

  h2 {
    font-size: 1.22em; } }
@media (max-width: 309pt) {
  body {
    padding: 0.312in 0.312in; }

  #header {
    font-size: 0.6898em; }

  #header .contact {
    font-size: 1.188em; }

  h2 {
    font-size: 1.218em; } }
@media (max-width: 308pt) {
  body {
    padding: 0.31067in 0.31067in; }

  #header {
    font-size: 0.6876em; }

  #header .contact {
    font-size: 1.18933em; }

  h2 {
    font-size: 1.216em; } }
@media (max-width: 307pt) {
  body {
    padding: 0.30933in 0.30933in; }

  #header {
    font-size: 0.6854em; }

  #header .contact {
    font-size: 1.19067em; }

  h2 {
    font-size: 1.214em; } }
@media (max-width: 306pt) {
  body {
    padding: 0.308in 0.308in; }

  #header {
    font-size: 0.6832em; }

  #header .contact {
    font-size: 1.192em; }

  h2 {
    font-size: 1.212em; } }
@media (max-width: 305pt) {
  body {
    padding: 0.30667in 0.30667in; }

  #header {
    font-size: 0.681em; }

  #header .contact {
    font-size: 1.19333em; }

  h2 {
    font-size: 1.21em; } }
@media (max-width: 304pt) {
  body {
    padding: 0.30533in 0.30533in; }

  #header {
    font-size: 0.6788em; }

  #header .contact {
    font-size: 1.19467em; }

  h2 {
    font-size: 1.208em; } }
@media (max-width: 303pt) {
  body {
    padding: 0.304in 0.304in; }

  #header {
    font-size: 0.6766em; }

  #header .contact {
    font-size: 1.196em; }

  h2 {
    font-size: 1.206em; } }
@media (max-width: 302pt) {
  body {
    padding: 0.30267in 0.30267in; }

  #header {
    font-size: 0.6744em; }

  #header .contact {
    font-size: 1.19733em; }

  h2 {
    font-size: 1.204em; } }
@media (max-width: 301pt) {
  body {
    padding: 0.30133in 0.30133in; }

  #header {
    font-size: 0.6722em; }

  #header .contact {
    font-size: 1.19867em; }

  h2 {
    font-size: 1.202em; } }
@media (max-width: 300pt) {
  body {
    padding: 0.3in 0.3in; }

  #header {
    font-size: 0.67em; }

  #header .contact {
    font-size: 1.2em; }

  h2 {
    font-size: 1.2em; } }
@media (max-width: 299pt) {
  body {
    padding: 0.29867in 0.29867in; }

  #header {
    font-size: 0.6678em; }

  #header .contact {
    font-size: 1.20133em; }

  h2 {
    font-size: 1.198em; } }
@media (max-width: 298pt) {
  body {
    padding: 0.29733in 0.29733in; }

  #header {
    font-size: 0.6656em; }

  #header .contact {
    font-size: 1.20267em; }

  h2 {
    font-size: 1.196em; } }
@media (max-width: 297pt) {
  body {
    padding: 0.296in 0.296in; }

  #header {
    font-size: 0.6634em; }

  #header .contact {
    font-size: 1.204em; }

  h2 {
    font-size: 1.194em; } }
@media (max-width: 296pt) {
  body {
    padding: 0.29467in 0.29467in; }

  #header {
    font-size: 0.6612em; }

  #header .contact {
    font-size: 1.20533em; }

  h2 {
    font-size: 1.192em; } }
@media (max-width: 295pt) {
  body {
    padding: 0.29333in 0.29333in; }

  #header {
    font-size: 0.659em; }

  #header .contact {
    font-size: 1.20667em; }

  h2 {
    font-size: 1.19em; } }
@media (max-width: 294pt) {
  body {
    padding: 0.292in 0.292in; }

  #header {
    font-size: 0.6568em; }

  #header .contact {
    font-size: 1.208em; }

  h2 {
    font-size: 1.188em; } }
@media (max-width: 293pt) {
  body {
    padding: 0.29067in 0.29067in; }

  #header {
    font-size: 0.6546em; }

  #header .contact {
    font-size: 1.20933em; }

  h2 {
    font-size: 1.186em; } }
@media (max-width: 292pt) {
  body {
    padding: 0.28933in 0.28933in; }

  #header {
    font-size: 0.6524em; }

  #header .contact {
    font-size: 1.21067em; }

  h2 {
    font-size: 1.184em; } }
@media (max-width: 291pt) {
  body {
    padding: 0.288in 0.288in; }

  #header {
    font-size: 0.6502em; }

  #header .contact {
    font-size: 1.212em; }

  h2 {
    font-size: 1.182em; } }
@media (max-width: 290pt) {
  body {
    padding: 0.28667in 0.28667in; }

  #header {
    font-size: 0.648em; }

  #header .contact {
    font-size: 1.21333em; }

  h2 {
    font-size: 1.18em; } }
@media (max-width: 289pt) {
  body {
    padding: 0.28533in 0.28533in; }

  #header {
    font-size: 0.6458em; }

  #header .contact {
    font-size: 1.21467em; }

  h2 {
    font-size: 1.178em; } }
@media (max-width: 288pt) {
  body {
    padding: 0.284in 0.284in; }

  #header {
    font-size: 0.6436em; }

  #header .contact {
    font-size: 1.216em; }

  h2 {
    font-size: 1.176em; } }
@media (max-width: 287pt) {
  body {
    padding: 0.28267in 0.28267in; }

  #header {
    font-size: 0.6414em; }

  #header .contact {
    font-size: 1.21733em; }

  h2 {
    font-size: 1.174em; } }
@media (max-width: 286pt) {
  body {
    padding: 0.28133in 0.28133in; }

  #header {
    font-size: 0.6392em; }

  #header .contact {
    font-size: 1.21867em; }

  h2 {
    font-size: 1.172em; } }
@media (max-width: 285pt) {
  body {
    padding: 0.28in 0.28in; }

  #header {
    font-size: 0.637em; }

  #header .contact {
    font-size: 1.22em; }

  h2 {
    font-size: 1.17em; } }
@media (max-width: 284pt) {
  body {
    padding: 0.27867in 0.27867in; }

  #header {
    font-size: 0.6348em; }

  #header .contact {
    font-size: 1.22133em; }

  h2 {
    font-size: 1.168em; } }
@media (max-width: 283pt) {
  body {
    padding: 0.27733in 0.27733in; }

  #header {
    font-size: 0.6326em; }

  #header .contact {
    font-size: 1.22267em; }

  h2 {
    font-size: 1.166em; } }
@media (max-width: 282pt) {
  body {
    padding: 0.276in 0.276in; }

  #header {
    font-size: 0.6304em; }

  #header .contact {
    font-size: 1.224em; }

  h2 {
    font-size: 1.164em; } }
@media (max-width: 281pt) {
  body {
    padding: 0.27467in 0.27467in; }

  #header {
    font-size: 0.6282em; }

  #header .contact {
    font-size: 1.22533em; }

  h2 {
    font-size: 1.162em; } }
@media (max-width: 280pt) {
  body {
    padding: 0.27333in 0.27333in; }

  #header {
    font-size: 0.626em; }

  #header .contact {
    font-size: 1.22667em; }

  h2 {
    font-size: 1.16em; } }
@media (max-width: 279pt) {
  body {
    padding: 0.272in 0.272in; }

  #header {
    font-size: 0.6238em; }

  #header .contact {
    font-size: 1.228em; }

  h2 {
    font-size: 1.158em; } }
@media (max-width: 278pt) {
  body {
    padding: 0.27067in 0.27067in; }

  #header {
    font-size: 0.6216em; }

  #header .contact {
    font-size: 1.22933em; }

  h2 {
    font-size: 1.156em; } }
@media (max-width: 277pt) {
  body {
    padding: 0.26933in 0.26933in; }

  #header {
    font-size: 0.6194em; }

  #header .contact {
    font-size: 1.23067em; }

  h2 {
    font-size: 1.154em; } }
@media (max-width: 276pt) {
  body {
    padding: 0.268in 0.268in; }

  #header {
    font-size: 0.6172em; }

  #header .contact {
    font-size: 1.232em; }

  h2 {
    font-size: 1.152em; } }
@media (max-width: 275pt) {
  body {
    padding: 0.26667in 0.26667in; }

  #header {
    font-size: 0.615em; }

  #header .contact {
    font-size: 1.23333em; }

  h2 {
    font-size: 1.15em; } }
@media (max-width: 274pt) {
  body {
    padding: 0.26533in 0.26533in; }

  #header {
    font-size: 0.6128em; }

  #header .contact {
    font-size: 1.23467em; }

  h2 {
    font-size: 1.148em; } }
@media (max-width: 273pt) {
  body {
    padding: 0.264in 0.264in; }

  #header {
    font-size: 0.6106em; }

  #header .contact {
    font-size: 1.236em; }

  h2 {
    font-size: 1.146em; } }
@media (max-width: 272pt) {
  body {
    padding: 0.26267in 0.26267in; }

  #header {
    font-size: 0.6084em; }

  #header .contact {
    font-size: 1.23733em; }

  h2 {
    font-size: 1.144em; } }
@media (max-width: 271pt) {
  body {
    padding: 0.26133in 0.26133in; }

  #header {
    font-size: 0.6062em; }

  #header .contact {
    font-size: 1.23867em; }

  h2 {
    font-size: 1.142em; } }
@media (max-width: 270pt) {
  body {
    padding: 0.26in 0.26in; }

  #header {
    font-size: 0.604em; }

  #header .contact {
    font-size: 1.24em; }

  h2 {
    font-size: 1.14em; } }
@media (max-width: 269pt) {
  body {
    padding: 0.25867in 0.25867in; }

  #header {
    font-size: 0.6018em; }

  #header .contact {
    font-size: 1.24133em; }

  h2 {
    font-size: 1.138em; } }
@media (max-width: 268pt) {
  body {
    padding: 0.25733in 0.25733in; }

  #header {
    font-size: 0.5996em; }

  #header .contact {
    font-size: 1.24267em; }

  h2 {
    font-size: 1.136em; } }
@media (max-width: 267pt) {
  body {
    padding: 0.256in 0.256in; }

  #header {
    font-size: 0.5974em; }

  #header .contact {
    font-size: 1.244em; }

  h2 {
    font-size: 1.134em; } }
@media (max-width: 266pt) {
  body {
    padding: 0.25467in 0.25467in; }

  #header {
    font-size: 0.5952em; }

  #header .contact {
    font-size: 1.24533em; }

  h2 {
    font-size: 1.132em; } }
@media (max-width: 265pt) {
  body {
    padding: 0.25333in 0.25333in; }

  #header {
    font-size: 0.593em; }

  #header .contact {
    font-size: 1.24667em; }

  h2 {
    font-size: 1.13em; } }
@media (max-width: 264pt) {
  body {
    padding: 0.252in 0.252in; }

  #header {
    font-size: 0.5908em; }

  #header .contact {
    font-size: 1.248em; }

  h2 {
    font-size: 1.128em; } }
@media (max-width: 263pt) {
  body {
    padding: 0.25067in 0.25067in; }

  #header {
    font-size: 0.5886em; }

  #header .contact {
    font-size: 1.24933em; }

  h2 {
    font-size: 1.126em; } }
@media (max-width: 262pt) {
  body {
    padding: 0.24933in 0.24933in; }

  #header {
    font-size: 0.5864em; }

  #header .contact {
    font-size: 1.25067em; }

  h2 {
    font-size: 1.124em; } }
@media (max-width: 261pt) {
  body {
    padding: 0.248in 0.248in; }

  #header {
    font-size: 0.5842em; }

  #header .contact {
    font-size: 1.252em; }

  h2 {
    font-size: 1.122em; } }
@media (max-width: 260pt) {
  body {
    padding: 0.24667in 0.24667in; }

  #header {
    font-size: 0.582em; }

  #header .contact {
    font-size: 1.25333em; }

  h2 {
    font-size: 1.12em; } }
@media (max-width: 259pt) {
  body {
    padding: 0.24533in 0.24533in; }

  #header {
    font-size: 0.5798em; }

  #header .contact {
    font-size: 1.25467em; }

  h2 {
    font-size: 1.118em; } }
@media (max-width: 258pt) {
  body {
    padding: 0.244in 0.244in; }

  #header {
    font-size: 0.5776em; }

  #header .contact {
    font-size: 1.256em; }

  h2 {
    font-size: 1.116em; } }
@media (max-width: 257pt) {
  body {
    padding: 0.24267in 0.24267in; }

  #header {
    font-size: 0.5754em; }

  #header .contact {
    font-size: 1.25733em; }

  h2 {
    font-size: 1.114em; } }
@media (max-width: 256pt) {
  body {
    padding: 0.24133in 0.24133in; }

  #header {
    font-size: 0.5732em; }

  #header .contact {
    font-size: 1.25867em; }

  h2 {
    font-size: 1.112em; } }
@media (max-width: 255pt) {
  body {
    padding: 0.24in 0.24in; }

  #header {
    font-size: 0.571em; }

  #header .contact {
    font-size: 1.26em; }

  h2 {
    font-size: 1.11em; } }
@media (max-width: 254pt) {
  body {
    padding: 0.23867in 0.23867in; }

  #header {
    font-size: 0.5688em; }

  #header .contact {
    font-size: 1.26133em; }

  h2 {
    font-size: 1.108em; } }
@media (max-width: 253pt) {
  body {
    padding: 0.23733in 0.23733in; }

  #header {
    font-size: 0.5666em; }

  #header .contact {
    font-size: 1.26267em; }

  h2 {
    font-size: 1.106em; } }
@media (max-width: 252pt) {
  body {
    padding: 0.236in 0.236in; }

  #header {
    font-size: 0.5644em; }

  #header .contact {
    font-size: 1.264em; }

  h2 {
    font-size: 1.104em; } }
@media (max-width: 251pt) {
  body {
    padding: 0.23467in 0.23467in; }

  #header {
    font-size: 0.5622em; }

  #header .contact {
    font-size: 1.26533em; }

  h2 {
    font-size: 1.102em; } }
@media (max-width: 250pt) {
  body {
    padding: 0.23333in 0.23333in; }

  #header {
    font-size: 0.56em; }

  #header .contact {
    font-size: 1.26667em; }

  h2 {
    font-size: 1.1em; } }
@media (max-width: 249pt) {
  body {
    padding: 0.232in 0.232in; }

  #header {
    font-size: 0.5578em; }

  #header .contact {
    font-size: 1.268em; }

  h2 {
    font-size: 1.098em; } }
@media (max-width: 248pt) {
  body {
    padding: 0.23067in 0.23067in; }

  #header {
    font-size: 0.5556em; }

  #header .contact {
    font-size: 1.26933em; }

  h2 {
    font-size: 1.096em; } }
@media (max-width: 247pt) {
  body {
    padding: 0.22933in 0.22933in; }

  #header {
    font-size: 0.5534em; }

  #header .contact {
    font-size: 1.27067em; }

  h2 {
    font-size: 1.094em; } }
@media (max-width: 246pt) {
  body {
    padding: 0.228in 0.228in; }

  #header {
    font-size: 0.5512em; }

  #header .contact {
    font-size: 1.272em; }

  h2 {
    font-size: 1.092em; } }
@media (max-width: 245pt) {
  body {
    padding: 0.22667in 0.22667in; }

  #header {
    font-size: 0.549em; }

  #header .contact {
    font-size: 1.27333em; }

  h2 {
    font-size: 1.09em; } }
@media (max-width: 244pt) {
  body {
    padding: 0.22533in 0.22533in; }

  #header {
    font-size: 0.5468em; }

  #header .contact {
    font-size: 1.27467em; }

  h2 {
    font-size: 1.088em; } }
@media (max-width: 243pt) {
  body {
    padding: 0.224in 0.224in; }

  #header {
    font-size: 0.5446em; }

  #header .contact {
    font-size: 1.276em; }

  h2 {
    font-size: 1.086em; } }
@media (max-width: 242pt) {
  body {
    padding: 0.22267in 0.22267in; }

  #header {
    font-size: 0.5424em; }

  #header .contact {
    font-size: 1.27733em; }

  h2 {
    font-size: 1.084em; } }
@media (max-width: 241pt) {
  body {
    padding: 0.22133in 0.22133in; }

  #header {
    font-size: 0.5402em; }

  #header .contact {
    font-size: 1.27867em; }

  h2 {
    font-size: 1.082em; } }
@media (max-width: 240pt) {
  body {
    padding: 0.22in 0.22in; }

  #header {
    font-size: 0.538em; }

  #header .contact {
    font-size: 1.28em; }

  h2 {
    font-size: 1.08em; } }
@media (max-width: 239pt) {
  body {
    padding: 0.21867in 0.21867in; }

  #header {
    font-size: 0.5358em; }

  #header .contact {
    font-size: 1.28133em; }

  h2 {
    font-size: 1.078em; } }
@media (max-width: 238pt) {
  body {
    padding: 0.21733in 0.21733in; }

  #header {
    font-size: 0.5336em; }

  #header .contact {
    font-size: 1.28267em; }

  h2 {
    font-size: 1.076em; } }
@media (max-width: 237pt) {
  body {
    padding: 0.216in 0.216in; }

  #header {
    font-size: 0.5314em; }

  #header .contact {
    font-size: 1.284em; }

  h2 {
    font-size: 1.074em; } }
@media (max-width: 236pt) {
  body {
    padding: 0.21467in 0.21467in; }

  #header {
    font-size: 0.5292em; }

  #header .contact {
    font-size: 1.28533em; }

  h2 {
    font-size: 1.072em; } }
@media (max-width: 235pt) {
  body {
    padding: 0.21333in 0.21333in; }

  #header {
    font-size: 0.527em; }

  #header .contact {
    font-size: 1.28667em; }

  h2 {
    font-size: 1.07em; } }
@media (max-width: 234pt) {
  body {
    padding: 0.212in 0.212in; }

  #header {
    font-size: 0.5248em; }

  #header .contact {
    font-size: 1.288em; }

  h2 {
    font-size: 1.068em; } }
@media (max-width: 233pt) {
  body {
    padding: 0.21067in 0.21067in; }

  #header {
    font-size: 0.5226em; }

  #header .contact {
    font-size: 1.28933em; }

  h2 {
    font-size: 1.066em; } }
@media (max-width: 232pt) {
  body {
    padding: 0.20933in 0.20933in; }

  #header {
    font-size: 0.5204em; }

  #header .contact {
    font-size: 1.29067em; }

  h2 {
    font-size: 1.064em; } }
@media (max-width: 231pt) {
  body {
    padding: 0.208in 0.208in; }

  #header {
    font-size: 0.5182em; }

  #header .contact {
    font-size: 1.292em; }

  h2 {
    font-size: 1.062em; } }
@media (max-width: 230pt) {
  body {
    padding: 0.20667in 0.20667in; }

  #header {
    font-size: 0.516em; }

  #header .contact {
    font-size: 1.29333em; }

  h2 {
    font-size: 1.06em; } }
@media (max-width: 229pt) {
  body {
    padding: 0.20533in 0.20533in; }

  #header {
    font-size: 0.5138em; }

  #header .contact {
    font-size: 1.29467em; }

  h2 {
    font-size: 1.058em; } }
@media (max-width: 228pt) {
  body {
    padding: 0.204in 0.204in; }

  #header {
    font-size: 0.5116em; }

  #header .contact {
    font-size: 1.296em; }

  h2 {
    font-size: 1.056em; } }
@media (max-width: 227pt) {
  body {
    padding: 0.20267in 0.20267in; }

  #header {
    font-size: 0.5094em; }

  #header .contact {
    font-size: 1.29733em; }

  h2 {
    font-size: 1.054em; } }
@media (max-width: 226pt) {
  body {
    padding: 0.20133in 0.20133in; }

  #header {
    font-size: 0.5072em; }

  #header .contact {
    font-size: 1.29867em; }

  h2 {
    font-size: 1.052em; } }
@media (max-width: 225pt) {
  body {
    padding: 0.2in 0.2in; }

  #header {
    font-size: 0.505em; }

  #header .contact {
    font-size: 1.3em; }

  h2 {
    font-size: 1.05em; } }
@media (max-width: 224pt) {
  body {
    padding: 0.19867in 0.19867in; }

  #header {
    font-size: 0.5028em; }

  #header .contact {
    font-size: 1.30133em; }

  h2 {
    font-size: 1.048em; } }
@media (max-width: 223pt) {
  body {
    padding: 0.19733in 0.19733in; }

  #header {
    font-size: 0.5006em; }

  #header .contact {
    font-size: 1.30267em; }

  h2 {
    font-size: 1.046em; } }
@media (max-width: 222pt) {
  body {
    padding: 0.196in 0.196in; }

  #header {
    font-size: 0.4984em; }

  #header .contact {
    font-size: 1.304em; }

  h2 {
    font-size: 1.044em; } }
@media (max-width: 221pt) {
  body {
    padding: 0.19467in 0.19467in; }

  #header {
    font-size: 0.4962em; }

  #header .contact {
    font-size: 1.30533em; }

  h2 {
    font-size: 1.042em; } }
@media (max-width: 220pt) {
  body {
    padding: 0.19333in 0.19333in; }

  #header {
    font-size: 0.494em; }

  #header .contact {
    font-size: 1.30667em; }

  h2 {
    font-size: 1.04em; } }
@media (max-width: 219pt) {
  body {
    padding: 0.192in 0.192in; }

  #header {
    font-size: 0.4918em; }

  #header .contact {
    font-size: 1.308em; }

  h2 {
    font-size: 1.038em; } }
@media (max-width: 218pt) {
  body {
    padding: 0.19067in 0.19067in; }

  #header {
    font-size: 0.4896em; }

  #header .contact {
    font-size: 1.30933em; }

  h2 {
    font-size: 1.036em; } }
@media (max-width: 217pt) {
  body {
    padding: 0.18933in 0.18933in; }

  #header {
    font-size: 0.4874em; }

  #header .contact {
    font-size: 1.31067em; }

  h2 {
    font-size: 1.034em; } }
@media (max-width: 216pt) {
  body {
    padding: 0.188in 0.188in; }

  #header {
    font-size: 0.4852em; }

  #header .contact {
    font-size: 1.312em; }

  h2 {
    font-size: 1.032em; } }
@media (max-width: 215pt) {
  body {
    padding: 0.18667in 0.18667in; }

  #header {
    font-size: 0.483em; }

  #header .contact {
    font-size: 1.31333em; }

  h2 {
    font-size: 1.03em; } }
@media (max-width: 214pt) {
  body {
    padding: 0.18533in 0.18533in; }

  #header {
    font-size: 0.4808em; }

  #header .contact {
    font-size: 1.31467em; }

  h2 {
    font-size: 1.028em; } }
@media (max-width: 213pt) {
  body {
    padding: 0.184in 0.184in; }

  #header {
    font-size: 0.4786em; }

  #header .contact {
    font-size: 1.316em; }

  h2 {
    font-size: 1.026em; } }
@media (max-width: 212pt) {
  body {
    padding: 0.18267in 0.18267in; }

  #header {
    font-size: 0.4764em; }

  #header .contact {
    font-size: 1.31733em; }

  h2 {
    font-size: 1.024em; } }
@media (max-width: 211pt) {
  body {
    padding: 0.18133in 0.18133in; }

  #header {
    font-size: 0.4742em; }

  #header .contact {
    font-size: 1.31867em; }

  h2 {
    font-size: 1.022em; } }
@media (max-width: 210pt) {
  body {
    padding: 0.18in 0.18in; }

  #header {
    font-size: 0.472em; }

  #header .contact {
    font-size: 1.32em; }

  h2 {
    font-size: 1.02em; } }
@media (max-width: 209pt) {
  body {
    padding: 0.17867in 0.17867in; }

  #header {
    font-size: 0.4698em; }

  #header .contact {
    font-size: 1.32133em; }

  h2 {
    font-size: 1.018em; } }
@media (max-width: 208pt) {
  body {
    padding: 0.17733in 0.17733in; }

  #header {
    font-size: 0.4676em; }

  #header .contact {
    font-size: 1.32267em; }

  h2 {
    font-size: 1.016em; } }
@media (max-width: 207pt) {
  body {
    padding: 0.176in 0.176in; }

  #header {
    font-size: 0.4654em; }

  #header .contact {
    font-size: 1.324em; }

  h2 {
    font-size: 1.014em; } }
@media (max-width: 206pt) {
  body {
    padding: 0.17467in 0.17467in; }

  #header {
    font-size: 0.4632em; }

  #header .contact {
    font-size: 1.32533em; }

  h2 {
    font-size: 1.012em; } }
@media (max-width: 205pt) {
  body {
    padding: 0.17333in 0.17333in; }

  #header {
    font-size: 0.461em; }

  #header .contact {
    font-size: 1.32667em; }

  h2 {
    font-size: 1.01em; } }
@media (max-width: 204pt) {
  body {
    padding: 0.172in 0.172in; }

  #header {
    font-size: 0.4588em; }

  #header .contact {
    font-size: 1.328em; }

  h2 {
    font-size: 1.008em; } }
@media (max-width: 203pt) {
  body {
    padding: 0.17067in 0.17067in; }

  #header {
    font-size: 0.4566em; }

  #header .contact {
    font-size: 1.32933em; }

  h2 {
    font-size: 1.006em; } }
@media (max-width: 202pt) {
  body {
    padding: 0.16933in 0.16933in; }

  #header {
    font-size: 0.4544em; }

  #header .contact {
    font-size: 1.33067em; }

  h2 {
    font-size: 1.004em; } }
@media (max-width: 201pt) {
  body {
    padding: 0.168in 0.168in; }

  #header {
    font-size: 0.4522em; }

  #header .contact {
    font-size: 1.332em; }

  h2 {
    font-size: 1.002em; } }
@media (max-width: 200pt) {
  body {
    padding: 0.16667in 0.16667in; }

  #header {
    font-size: 0.45em; }

  #header .contact {
    font-size: 1.33333em; }

  h2 {
    font-size: 1em; } }
@media (max-width: 199pt) {
  body {
    padding: 0.16533in 0.16533in; }

  #header {
    font-size: 0.4478em; }

  #header .contact {
    font-size: 1.33467em; }

  h2 {
    font-size: 0.998em; } }
@media (max-width: 198pt) {
  body {
    padding: 0.164in 0.164in; }

  #header {
    font-size: 0.4456em; }

  #header .contact {
    font-size: 1.336em; }

  h2 {
    font-size: 0.996em; } }
@media (max-width: 197pt) {
  body {
    padding: 0.16267in 0.16267in; }

  #header {
    font-size: 0.4434em; }

  #header .contact {
    font-size: 1.33733em; }

  h2 {
    font-size: 0.994em; } }
@media (max-width: 196pt) {
  body {
    padding: 0.16133in 0.16133in; }

  #header {
    font-size: 0.4412em; }

  #header .contact {
    font-size: 1.33867em; }

  h2 {
    font-size: 0.992em; } }
@media (max-width: 195pt) {
  body {
    padding: 0.16in 0.16in; }

  #header {
    font-size: 0.439em; }

  #header .contact {
    font-size: 1.34em; }

  h2 {
    font-size: 0.99em; } }
@media (max-width: 194pt) {
  body {
    padding: 0.15867in 0.15867in; }

  #header {
    font-size: 0.4368em; }

  #header .contact {
    font-size: 1.34133em; }

  h2 {
    font-size: 0.988em; } }
@media (max-width: 193pt) {
  body {
    padding: 0.15733in 0.15733in; }

  #header {
    font-size: 0.4346em; }

  #header .contact {
    font-size: 1.34267em; }

  h2 {
    font-size: 0.986em; } }
@media (max-width: 192pt) {
  body {
    padding: 0.156in 0.156in; }

  #header {
    font-size: 0.4324em; }

  #header .contact {
    font-size: 1.344em; }

  h2 {
    font-size: 0.984em; } }
@media (max-width: 191pt) {
  body {
    padding: 0.15467in 0.15467in; }

  #header {
    font-size: 0.4302em; }

  #header .contact {
    font-size: 1.34533em; }

  h2 {
    font-size: 0.982em; } }
@media (max-width: 190pt) {
  body {
    padding: 0.15333in 0.15333in; }

  #header {
    font-size: 0.428em; }

  #header .contact {
    font-size: 1.34667em; }

  h2 {
    font-size: 0.98em; } }
@media (max-width: 189pt) {
  body {
    padding: 0.152in 0.152in; }

  #header {
    font-size: 0.4258em; }

  #header .contact {
    font-size: 1.348em; }

  h2 {
    font-size: 0.978em; } }
@media (max-width: 188pt) {
  body {
    padding: 0.15067in 0.15067in; }

  #header {
    font-size: 0.4236em; }

  #header .contact {
    font-size: 1.34933em; }

  h2 {
    font-size: 0.976em; } }
@media (max-width: 187pt) {
  body {
    padding: 0.14933in 0.14933in; }

  #header {
    font-size: 0.4214em; }

  #header .contact {
    font-size: 1.35067em; }

  h2 {
    font-size: 0.974em; } }
@media (max-width: 186pt) {
  body {
    padding: 0.148in 0.148in; }

  #header {
    font-size: 0.4192em; }

  #header .contact {
    font-size: 1.352em; }

  h2 {
    font-size: 0.972em; } }
@media (max-width: 185pt) {
  body {
    padding: 0.14667in 0.14667in; }

  #header {
    font-size: 0.417em; }

  #header .contact {
    font-size: 1.35333em; }

  h2 {
    font-size: 0.97em; } }
@media (max-width: 184pt) {
  body {
    padding: 0.14533in 0.14533in; }

  #header {
    font-size: 0.4148em; }

  #header .contact {
    font-size: 1.35467em; }

  h2 {
    font-size: 0.968em; } }
@media (max-width: 183pt) {
  body {
    padding: 0.144in 0.144in; }

  #header {
    font-size: 0.4126em; }

  #header .contact {
    font-size: 1.356em; }

  h2 {
    font-size: 0.966em; } }
@media (max-width: 182pt) {
  body {
    padding: 0.14267in 0.14267in; }

  #header {
    font-size: 0.4104em; }

  #header .contact {
    font-size: 1.35733em; }

  h2 {
    font-size: 0.964em; } }
@media (max-width: 181pt) {
  body {
    padding: 0.14133in 0.14133in; }

  #header {
    font-size: 0.4082em; }

  #header .contact {
    font-size: 1.35867em; }

  h2 {
    font-size: 0.962em; } }
@page {
  size: 9.08in 11.75in;
  margin: 0em;
  padding: 0em; }
